.top-bar-bg {
  overflow: hidden;
  width: 100%;
  background-color: hsl(0, 0%, 50%);
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
}
.nav-item {
  padding: 30px;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(autofit, 1fr);
}
